body {
    background-color:lightblue;
    margin: 0; 
    text-align: center;
}

header {
    padding: 40px;
}

header img {
    height: 35px;
    width: 35px;
    float: left; 
}

header ul {
    float: right;
}

header li {
    display: inline-block;
    padding: 0px 20px; 
}

header li:hover {
    text-decoration: underline;
    font-weight: bold;
}

h1 {
    color:black;
    text-align: center; 
}

h3 {
    color:black;
    text-align: center; 
}

#viewAllProjects:hover {
    text-decoration: underline;
    font-weight: bold;
}

.heroImg {
    background-color: #4675AB;
    padding: 100px 15px;
}

p {
    color:black;
}

.content {
    max-width: 500px; 
    margin: 0 auto; 
    padding: 50px;
    text-align: center; 
}

.flexContainer {
    display: flex;
}

.skillsContainer {
    display: flex;
}

.skillsSection {
    width: 33%; 
}

.workGrid {
   display: grid; 
   grid-template-areas: 
    "caseStudy1Photo caseStudy1Description"
    "caseStudy2Photo caseStudy2Description"
    "caseStudy3Photo caseStudy3Description";
    grid-template-columns: 1fr 2fr; 
}

button {
    padding: 15px;
    background-color: #373738;
    color: white;
    font-size: 15px;
    border-radius: 4px;
}

footer {
    padding: 40px;
}

footer ul {
    float: left;
}

footer li {
    display: inline-block;
    padding: 0px 20px; 
}

footer li:hover {
    text-decoration: underline;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .mySkills {
    }
    .skillsContainer {
        flex-direction: column;  
    }
    .skillsSection {
        width: 100%;  
    }
    .workGrid {
        grid-template-areas: 
         "caseStudy1Photo"
         "caseStudy1Description"
         "caseStudy2Photo"
         "caseStudy2Description"
         "caseStudy3Photo"
        "caseStudy3Description";
         grid-template-columns: 1fr; 
    }
}